__pycache__/
.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
venv/
dist/
_dist/
db.sqlite3
static_root/
node_modules/
media/
docs/_build
.env
.env.production
.DS_Store
.direnv
.envrc
INSTRUCTIONS.md
TODO.md
CONVENTIONAL_COMMITS.md