{% load i18n %}

<form method="get" class="p-4 md:p-5 bg-white">

  <!-- Fields grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
    {% for field in form_filter %}
      <div class="w-full">
        
        <!-- Label -->
        <label class="block mb-2 text-sm font-medium text-gray-700">
          {{ field.label }}
          {% if field.field.required %}
            <span class="text-error-600">*</span>
          {% endif %}
        </label>

        <!-- Widget -->
        {{ field }}

        <!-- Help text -->
        {% if field.help_text %}
        <p class="mt-1 text-xs text-gray-500">
          {{ field.help_text }}
        </p>
        {% endif %}

        <!-- Errors -->
        {% if field.errors %}
        <p class="mt-1 text-xs text-error-600">
          {{ field.errors|join:", " }}
        </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <!-- Actions -->
  <div class="flex flex-col md:flex-row items-center gap-3">

    <!-- Filter button -->
    <button name="filter" type="submit"
            class="inline-flex items-center justify-center w-full md:w-auto
                   px-4 py-2 text-sm font-medium text-white bg-primary-600 rounded-lg 
                   hover:bg-primary-700 focus:ring-4 focus:ring-primary-300">

      <svg class="w-6 h-6 mr-2 dark:text-gray-800 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z"/>
      </svg>


      {% trans "Filter" %}
    </button>

    <!-- Remove filters -->
    <a href="?all"
       class="inline-flex items-center justify-center w-full md:w-auto
              px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 
              rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300">

      <svg class="w-6 h-6 mr-2 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
      </svg>



      {% trans "Remove" %}
    </a>

  </div>
</form>