{% load i18n %}

<div class="z-10 w-52 bg-white rounded-lg shadow divide-y divide-gray-100">
    <ul class="py-2 text-sm text-gray-700">
        {% if allow_multiselect %}
        <li>
            <button type="button"
                    data-modal-target="change_multiple_modal"
                    data-modal-toggle="change_multiple_modal"
                    class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                {% trans 'Change Multiple' %}
            </button>
        </li>
        {% endif %}

        {% if allow_delete_multiple %}
        <li>
            <button type="button"
                    data-modal-target="alert_delete_multiple_modal"
                    data-modal-toggle="alert_delete_multiple_modal"
                    class="block w-full text-left px-4 py-2 text-error-600 hover:bg-error-50 hover:text-error-700">
                {% trans 'Delete Selected' %}
            </button>
        </li>
        {% endif %}

        {% if allow_delete_all %}
        <li>
            <button type="button"
                    data-modal-target="alert_delete_all_modal"
                    data-modal-toggle="alert_delete_all_modal"
                    class="block w-full text-left px-4 py-2 text-error-600 hover:bg-error-50 hover:text-error-700">
                {% trans 'Delete All' %} {{ object_verbose_name_plural }}
            </button>
        </li>
        {% endif %}
    </ul>
</div>
