{% extends "strawberry/base_strawberry_daisyui.html" %}
{% load i18n %}

{% block app %}

<h1 class="text-lg font-bold">{% trans 'Are you sure you want to delete following' %} {{ object_verbose_name }}?</h1>
<p class="mt-4">{{ object }}</p>

<div class="m-8">
<form method="POST" action="{{ delete_view_url }}">
  {% csrf_token %}

  {{ form }}

  <button type="submit" class="btn btn-error">{% trans 'Delete' %}</button>
  <a href="{{ request.GET.next|default:list_view_url }}" class="btn ml-2">{% trans 'Cancel' %}</a>
</form>

</div>

{% endblock %}
