{% extends "strawberry/base_strawberry.html" %}
{% load strawberry %}
{% load i18n %}

{% block app %}

<section class="bg-white p-16 rounded-lg">
  <h1 class="text-lg font-bold text-gray-800 mb-4">
    {{ object }}
  </h1>

  <!-- Object detail -->
  <div class="mb-6">
    {% object_detail object view.fields %}
  </div>

  <!-- Back button -->
  <a href="{{ request.GET.next|default:list_view_url }}"
     class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 
            font-medium rounded-lg text-sm px-5 py-2.5">
      {% trans 'Back' %}
  </a>

</section>

{% endblock %}