{% load i18n %}


<ul tabindex="-1" class="menu dropdown-content bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
    {% if allow_multiselect %}
    <li>
        <a class=""
                onclick="change_multiple_modal.showModal()">
            {% trans 'Change Multiple' %}
        </a>
    </li>
    {% endif %}

    {% if allow_delete_multiple %}
     <li>
        <a class="text-error hover:underline hover:text-error" onclick="alert_delete_multiple_modal.showModal()">
            {% trans 'Delete Selected' %}
        </a>
    </li>
    {% endif %}

    {% if allow_delete_all %}
    <li>
        <a class="text-error hover:underline hover:text-error" onclick="alert_delete_all_modal.showModal()">
            {% trans 'Delete All' %} {{ object_verbose_name_plural }}
        </a>
    </li>
    {% endif %}
</ul>

