{% load i18n %}

<dialog id="alert_delete_all_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg text-error">{% trans "Confirm Deletion" %}</h3>

    <p class="py-4">
      {% blocktrans with object_verbose_name_plural=object_verbose_name_plural|capfirst %}
        Are you sure you want to delete ALL
        <span class="font-bold text-error">{{ object_verbose_name_plural }}</span>
        in the Database? This action cannot be undone.
      {% endblocktrans %}
    </p>

    <div class="modal-action">
      <form method="post" action="{{ delete_all_url }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-error">
          {% trans 'Yes, I am sure' %}
        </button>
        <button type="button" class="btn btn-outline" onclick="document.getElementById('alert_delete_all_modal').close()">
          {% trans 'No, cancel' %}
        </button>
      </form>
    </div>
  </div>
</dialog>
